.quotes {
    position: absolute;
    bottom: 50px;
}

.fadeIn {
    animation: fadeIn 500ms ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}